.Container_0 {
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
  justify-content: center;
  align-self: center;
  /* padding: 20%; */
  transition: all 2s ease;
}

.CanDiv {
  /* width: initial;
  height: initial; */
  /* position: absolute; */
  align-self: center;
  height: 20px;
  transition: width 2s, height 4s;
}
@keyframes myMove {
  from {
    width: 0;
  }
  to {
    width: fit-content;
  }
  from {
    width: 0;
  }
  to {
    height: fit-content;
  }
}
canvas {
  width: fit-content;
  height: fit-content;
  background: red;
  position: relative;
  transition: width 2s ease-in-out, height 4s ease-in-out;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  margin: 5px;
  width: 10em;
  height: 2.5em;
}

button:hover {
  background-color: lightcoral;
  color: black;
}

.ZoomInBtn {
  color: aqua;
  background-color: blue;
}
.ZoomOutBtn {
  color: aqua;
  background-color: green;
}
